# config/packages/lexik_jwt_authentication.yaml
lexik_jwt_authentication:
  secret_key: '%env(resolve:JWT_SECRET_KEY)%' # required for token creation
  public_key: '%env(resolve:JWT_PUBLIC_KEY)%' # required for token verification
  pass_phrase: '%env(JWT_PASSPHRASE)%' # required for token creation
  token_ttl: 10800 # in seconds, default is 3600
  user_identity_field: email # key under which the user identity will be stored in the token payload
  clock_skew: 0
  allow_no_expiration: false # set to true to allow tokens without exp claim

